<div class="post_trip_history">
	<%= simple_form_for @dashboard.new_photo_shout do |f| -%>
		<%= f.input :body, as: :text, input_html: {  class: "form-control post_field"}, placeholder: t('.shout_body') , label: false %>
	  <%= f.input  :image, label: false, input_html: {class: "upload_image_btn #{lang_other_side}"} %>
	  <%= f.submit t("post"), :disable_with => t('sending'), class: "btn btn-warning pull-left" %>
	<% end %>
</div>