<h1>New spacial_event</h1>

<%= simple_form_for(@spacial_event, url: spacial_events_path) do |f| %>
	<%= render partial: 'form', locals: {f: f} %>
<% end %>

<%= link_to 'Back', spacial_events_path %>
