<div id="trip_edit" class="trip">
	<div class="col-md-8">
		<div class="panel panel-default">
  		<%= render partial: 'trips/shared/head', locals:{stage: 4} %>
			<%#= error_messages_for(@trip) %>
			<%= render 'trips/show_edit/trip_summary' %>
			<%= render 'trips/show_edit/form_edit' %>
		</div>
	</div>
</div>

