<div id="user_show" class="user_profile">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
		    <h3 class="panel-title col-xs-8">
		    	<%= t('.title') %>
		    </h3>
				<div class="pull-left">
					<%= gravatar @user, 85, "img-thumbnail", :square %>
				</div>		    	   
		  </div>
			<%= render 'trips/show/show' %>
		</div>
	</div>
</div>

