<div id="trip_show" class="">
	<div class="col-md-8">
		<div class="panel panel-default">
  		<%= render partial: 'trips/shared/head', locals:{stage: 5} %>
			<%= render 'trips/show_edit/trip_summary' %>
  		<%= render 'trips/show_edit/form_show' %>
  		<%#= render 'comments/comments' %>
  		<%#= render 'comments/form' %>
		</div>
	</div>
</div>

