<!-- --       Larg Screen      -- -->
<div class="visible-lg">
  <%= render partial: 'profiles/show/large_screens', locals: {user: @profile.user}  %>

</div>


<!-- --       Small Screen     -- -->
<div class=" hidden-lg "> 
	<%#= render 'profiles/show/small_screens' %>
</div>
