<form class="form-horizontal" role="form">
	<h3>Acount settings</h3>

	<%= user_form_control_static  "Email", @user.email %>

	<div class="form-group">
    <label class="col-sm-3 control-label"> Password</label>
    <div class="col-sm-9">
      <p class="form-control-static">
      	*********** &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      	<%= link_to "Change Password", edit_user_registration_path+'#acount_settings' %>
      </p>
    </div>
  </div>
</form>