
<form class="form-horizontal" role="form">
	<h3>Profile web link</h3>
	<% unless @user.slug_updated %>
		<div class="alert alert-danger text-center">You can change your profile url only one time</div>	
	<% end %>
  <div class="form-group">
    <label class="col-sm-3 control-label">Profile Url</label>
    <div class="col-sm-9">
      <p class="form-control-static">
        <strong>
          <%= link_to_profile(@user,"") %>          
        </strong>
      </p>
    </div>
  </div>

	<% unless @user.slug_updated %>
  	<%= link_to "Change Contact Details", edit_user_registration_path+'#page_url', class: 'btn btn-primary col-sm-offset-3' %>
  <% end %>
</form>