<div class="panel panel-default clear">
  <div class="panel-heading">
  	<%= @user.name %> 
  	<%=t  '.overview'  %>
  </div>

  <div class="panel-body">
		Last loged in from: 
		<%= @user.last_login_location %>
	</div>
</div>