<% @page_title = @branch.name %>

<div id="branches_show">
  <!-- --       Larg Screen      -- -->
  <div id="large-screen" class="hidden-sm hidden-xs">
    <%= render partial: 'branches/show/large_screens'  %>

  </div>

  <!-- --       Small Screen     -- -->
  <div id="small-screen" class=" hidden-md hidden-lg "> 
    <%#= render partial:  'branches/show/small_screens'   %>
  </div>
</div>