<li id="my_trips_menu" class="dropdown">
	<a id="title" href="#" class="dropdown-toggle main_icons trips" data-toggle="dropdown">
		
	</a>
	<ul class="dropdown-menu">
		<li role="presentation" class="dropdown-header"><%= t(".as_passenger") %></li>

		<li><%= link_to t('.booked_trips'), bookings_path %></li>

	  <li class="divider"></li>
		<li role="presentation" class="dropdown-header"><%= t(".as_driver") %></li>
		<li><%= link_to t(".registered_trips"), trips_path %></li>
	  <!-- <li class="divider"></li> -->
<!-- 	  <li><a href="#">Separated link</a></li>
	  <li class="divider"></li> -->
	</ul>
</li>
