<div class="row ">
	<%= render partial: 'search_form', locals:{search_mode: @search_mode, search_subtrip: @search_subtrip  } %>
</div>

<% if @subtrips && @subtrips.any? %>
	<%= render partial: 'subtrips', locals:{subtrips: @subtrips, search_subtrip: @search_subtrip  } %>
<% else %>
	<p>No record with this condition. please try again.</p>
<% end %>