<%= render 'search_form' %>
<% if @search_subtrips.subtrips(3).any? %>
	<% subtrips = @search_subtrips.subtrips(3) %>
	<%= render partial: 'subtrips', locals:{subtrips: subtrips} %>
<% else %>
	<p>No record with this condition. please try again.</p>
<% end %>