
<div id="trips-register-head" class="panel-heading">
	<table class="table table-bordered">
		<tbody>
			<tr>
				<%= title_create stage, 1, t(".select_date_format")%> 

				<%#= title_create stage, 2, t(".regular or onetime")%> 

				<%= title_create stage, 3 , t(".register_trip_info")%> 

				<%= title_create stage, 4, t(".price") %>

				<%= title_create stage, 5, t(".succecful_submit") %>
			</tr>
		</tbody>
	</table>

</div>










