    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">شبکه در همسفریاب چیست؟</h3>
      </div>

      <div class="panel-body">
        <p>
        شبکه هر کاربر، به مجموعه افرادی گفته میشود که کاربر یا آنها را مستقیما به همسفریاب دعوت کرده است و یا دعوت شونده گان او آنها را دعوت کرده باشد. به عبارت دیگر اگر شما فردی را به همسفریاب از طریق ارسال دعوت نامه  دعوت کنید که آن شخص در سایت ثبت نام کند، او جزو شبکه شما خواهد بود و همچنین کسانی را از طریق آن فرد به عضویت همسفریاب در آیند نیز جزء شبکه شما خواهند بود.
        </p>

        <h4>هدف همسفریاب از ایجاد شبکه چیست؟</h4>

        <p>
        استفاده از همسفریاب روش نوینی برای سفرهای شهری و بین شهری است که با استفاده از آن، تعداد ترددهای خودروهای تک سرنشین کاهش یافته و کمک فراوانی در جهت کاهش آلودگی هوا و مصرف سوخت خودروها خواهد نمود. این ایده نیازمند فرهنگ سازی و اطلاع رسانی و استفاده عموم مردم از این روش است که بتوان در کوتاه مدت، حجم زیادی از ترافیک جاده ای و شهری را کاهش داد. برای رسیدن به این هدف، نیازمند این هستیم که کاربران، همسفریاب را در معرفی این فرهنگ و روش جدید یاری کنند. هر کاربر می تواند با معرفی این سایت به دوستان و آشنایان خود و با ارسال دعوتنامه از طریق وب سایت همسفریاب، آنها را دعوت کرده و وارد شبکه خود کند. 
        </p>

        <h5>این کار مزیت دیگری هم برای کاربران دارد. که در زیر به تشریح آن می پردازیم</h5>

        <p>
        در همسفریاب سفرهایی توسط کاربران ثبت می شود. این سفرها دارای صفحه مخصوص به خود هستند که در آن مشخصات آن سفر درج شده و مسافران با وارد شدن به آن صفحه می توانند مشخصات سفر را مشاهده کرده و آن سفر را رزرو کنند. در صفحه هر سفر، تبلیغات هوشمندی که مربوط به شهر مبدا و یا مقصد آن سفر است نمایش داده می شود. به ازای هر بازدید کننده از آن سفر، مبلغی به خاطر آگهی، عاید همسفریاب می شود. بخشی از آن مبلغ به افرادی تعلق خواهد گرفت که ایجاد کننده آن سفر را به همسفریاب دعوت کرده باشد. برای روشن شدن مطلب مثالی می آوریم.
        </p>

        <p>
        فرض کنید که شما دوست خود را دعوت کرده اید و او از طریق لینک دعوت شما در همسفریاب ثبت نام کرده است. سپس دوست شما یک سفری از اصفهان به شیراز در سایت ثبت می کند. در صفحه مخصوص آن سفر، تبلیغاتهایی مربوط به دو شهر شیراز و اصفهان نمایش داده می شود.بخشی از مبلغی که از تبلیغات دریافت می شود، به شما و دعوت کننده های شما تا حداکثر چهار دعوت کننده قبلی تعلق خواهد گرفت. زیرا که شما در ترویج این فرهنگ نقش داشته اید و دوست شما از طریق شما با این روش مسافرت آشنا شده است.
        </p>

        <h4>نحوه دعوت از دوستان </h4>
		<p> با کپی کردن لینک دعوت زیر و ارسال آن به دوستانتان، می توانید آنها را به همسفریاب دعوت کنید. در صورتی که با استفاده از این لینک ثبت نام کنند، آنها در شبکه شما قرار خواهند گرفت.</p>

		<textarea class="form-control" rows="2" id="exampleInputEmail1" style="direction: ltr;"><%= invite_acceptation_invitation_url(inviter: current_user.slug) %></textarea>

      </div>
    </div>
    
<script type="text/javascript" charset="utf-8">
  $("#exampleInputEmail1").click(function() { 
    this.select(); 
  });
</script>