<div id="network_show">

  <div class="col-md-5">
    <%= render 'networks/list' %>
  </div>

  <% if @network.current == current_user %>
    <div class="col-md-7">
      <%= render 'networks/description' %>
    </div>

    <div class="col-md-12">
      <%= render 'networks/graph' %>
    </div>
  <% end %>

</div>