<!-- --       Larg Screen      -- -->
<div class="visible-lg">
	<%= render 'users/show/large_screens' %>
</div>


<!-- --       Small Screen     -- -->
<div class=" hidden-lg "> 
	<%= render 'users/show/small_screens' %>
</div>
