<p><%= t 'hi' %>, </p>

<p><%= @inviter.name %> <%= t('.line1', inviter: @inviter.name) %></p>

<% @accept_invite_url = url_for(controller: 'invitations', action:'invite_acceptation', inviter: @inviter.slug,	 locale: locale, host: @host)  %>

<%= link_to t("accept_invite"), @accept_invite_url %>
