<div class="post_panel panel panel-default ">
  <div class="panel-heading">
		<%= t 'posts' %>
  </div>
  <div class="panel-body ">
  	<% if @timeline.any? %>
			<%= render @timeline %>	  		
  	<% else %>
  		<%= t 'no_post_message' %>
  	<% end %>

    <% if @timeline.try(:any?) %>
      <%= will_paginate @timeline %>
    <% end %>
	</div>
</div>
