<div class="users-list panel panel-default">
  <div class="panel-heading">
		<%= t 'posts' %>
  </div>
  <div class="panel-body">
  	<% if objs.any? %>
			<%= render objs %>	  		
  	<% else %>
  		<%= t 'no_post_message' %>
  	<% end %>
	</div>
</div>
