<fieldset class="subtrips-header">
  <span class="col-sm-3"><strong><%= t "at" %></strong></span>
  <span class="col-sm-3"><strong><%= t "from" %></strong></span>
  <span class="col-sm-3"><strong><%= t "to"  %></strong></span>
  <span class="col-sm-3"><strong><%= t "price"   %></strong></span>
</fieldset>