<% @contacted_users.each do |contact| %>
	<% klass = "active" if contact== @receiver%>
	<div class="contacted_users_row <%= klass %>">
		<%= gravatar contact,30 , "img-rounded" %>
	  <%= link_to contact.name, contact_path(contact.slug) %>
	</div>
  
<% end %>