<div id="contact_show" class="col-sm-9">
	<div id="contacted_users_header" class="col-sm-3">
		<h4><%= t(".Friend List") %></h4>
	</div>

	<div id="messages_header"  class="col-sm-8">
	</div>


	<div id="contacted_users" class="col-sm-3">
	</div>

	<div id="messages_frame" class="col-sm-8">
		<div id="messages"  class="row">
		</div>‍
		
		<div class="message_form" class="row">
		</div>
	</div>
</div>