<div class="frame">
	<div class="title">
		<h4>
			<strong class="lead"> سفرهای ویژه </strong> 
		</h4>
	</div>

	<div class="inner">
  <!-- <a href="<%= special_events_search_subtrips_path %>"> -->
			<%#= image_tag( "https://s3-eu-west-1.amazonaws.com/hamsafaryab.production/special_events/tractor/tiaxtor.jpg", class: "img-responsive") %>
	<!-- 	</a> -->
		<% @spacial_events.each do |se| %>
			<div class="row">
			  <div class="col-sm-6">
					<strong><%= t(".title",title: se.title) %></strong>	
				</div>				
			  <div class="col-sm-6">
					<%= link_to t(".button",des: se.destination.local_name), spacial_event_path(se.permalink), class: "btn btn-warning btn-lg btn-block" %>
				</div>				
			</div>	
			<br>	
		<% end %>
	</div>			
</div>