<div id="home">
	<div id="search_form" class="col-md-6">
		<%= image_tag(IMAGES_PATH+"passenger.png", class: "passenger")	%>
		<%= render partial: 'trip_search' %>	
	</div>

	<div id="insert_trip" class="col-md-6">
			<%= image_tag(IMAGES_PATH+"passenger_man.png", class: "passenger passenger_man")	%>
		<%= render 'trip_insert' %>	
	</div>
</div>
