<div id="home">
	<div id="search_form" class="">
		<%= image_tag(IMAGES_PATH+"passenger.png", class: "passenger")	%>
		<%= render partial: 'search_form' %>	
	</div>

	<div class="col-md-6">
		<div class="frame">
			<div class="title">
				<h4>
					<strong class= "lead"><%= t('.welcome_message') %></strong>
				</h4>
			</div>
			<div class="inner">
			  <%= render 'devise/sessions/form' %>
			</div>			
		</div>
	</div>
</div>
