<div id="users_sign_in">
	<div id="facebook_frame" class="frame col-sm-6">
		<%= render 'shared/facebook_sign_in' %>		
	</div>

	<div id="sign_in_form" class="col-sm-6">
		<%= render 'form' %>	
	</div>

</div>