<div class="col-md-4">
	<%= render partial: 'shared/users_list', locals: {users: @followed_users, title: "Your Followed Users "} %>
	<%= render partial: 'shared/users_list', locals: {users: @random_users, title: "Users you may want to know"} %>
</div>

<div class="col-md-8">
	<%= render 'shouts/form' %>

	<%= render partial: 'shared/posts_panel', locals: {objs:@dashboard.timeline} %>
</div>