<div class="col-md-4">
	<%= render partial: 'users/users_row', locals: {users: @followed_users} %>
	<%= render partial: 'users/users_row', locals: {users: @random_users} %>
</div>

<div class="col-md-8">
	<%= render 'shouts/form' %>
	<%= render @dashboard.timeline %>
</div>