.number_on_click{
	color: white;
	background: #19A334;
	border-radius: 35%;
	width: 45px;
	border: 4px solid !important;
	text-align: center;
}

.blueprints{
	padding: 0;
	.waiting{
		opacity: 0.6;
	}
	.number{
		border: 0 !important;
		z-index: 10;
		font-size: 1.2em;
		font-weight: bold;
		margin: 8px;
	}
	.blueprint_car{
		background: url('https://s3-eu-west-1.amazonaws.com/hamsafaryab.production/static_files/images/blueprints/blueprint_car.gif') no-repeat;
		position: relative;
		min-height: 313px;
		.person{
			position: absolute;
			border: 1px solid #B4B4B4;
			padding: 1px;		
		}
		.driver{
			top: 121px;
			left: 39px;
		}
		.passenger-1{
			top: 121px;
			left: 102px;
		}
		.passenger-2{
			top: 192px;
			left: 111px;
		}
		.passenger-3{
			top: 192px;
			left: 69px;
		}
		.passenger-4{
			top: 192px;
			left: 27px;
		}
	}

	.blueprint_minibus{
		background: url('https://s3-eu-west-1.amazonaws.com/hamsafaryab.production/static_files/images/blueprints/blueprint_minibus.gif') no-repeat;
		position: relative;
		min-height: 515px;
		min-width: 168px;
		.person{
			position: absolute;
			border: 1px solid #B4B4B4;
			padding: 1px;		
		}
		.driver{
			top: 124px;
			left: 30px;
		}
		.passenger-1{
			top: 123px;
			left: 133px;
		}
		.passenger-2,.passenger-6,.passenger-10,.passenger-14,.passenger-18{
			left: 150px;
		}
		.passenger-3,.passenger-7,.passenger-11,.passenger-15,.passenger-19{
			left: 109px;
		}
		.passenger-4,.passenger-8,.passenger-12,.passenger-16,.passenger-20{
			left: 51px;
		}
		.passenger-5,.passenger-9,.passenger-13,.passenger-17{
			left: 11px;
		}

		.passenger-5,.passenger-2,.passenger-3,.passenger-4 {
			top: 183px;
		}
		.passenger-9,.passenger-6,.passenger-7,.passenger-8 {
			top: 236px;
		}
		.passenger-13,.passenger-10,.passenger-11,.passenger-12 {
			top: 291px;
		}
		.passenger-17,.passenger-14,.passenger-15,.passenger-16 {
			top: 346px;
		}
		.passenger-18,.passenger-19,.passenger-20 {
			top: 401px;
		}

	}

	.blueprint_van{
		background: url('https://s3-eu-west-1.amazonaws.com/hamsafaryab.production/static_files/images/blueprints/blueprint_van.gif') no-repeat;
		position: relative;
		min-height: 293px;
		min-width: 168px;
		.person{
			position: absolute;
			border: 1px solid #B4B4B4;
			padding: 1px;		
		}
		.driver{
			top: 76px;
			left: 34px;
		}
		.passenger-1{
			top: 76px;
			left: 104px;
		}			
		.passenger-2,.passenger-3,.passenger-4{
			top: 126px;
		}
		.passenger-5,.passenger-6,.passenger-7{
			top: 179px;
		}
		.passenger-8,.passenger-9,.passenger-10{
			top: 232px;
		}

		.passenger-2,.passenger-5,.passenger-8{
			left: 111px;
		}
		.passenger-3,.passenger-6,.passenger-9{
			left: 61px;
		}
		.passenger-4,.passenger-7,.passenger-10{
			left: 20px;
		}


	}		

	.blueprint_bus{
		background: url('https://s3-eu-west-1.amazonaws.com/hamsafaryab.production/static_files/images/blueprints/blueprint_bus.gif') no-repeat;
		position: relative;
		min-height: 769px;
		min-width: 168px;
		.person{
			position: absolute;
			border: 1px solid #B4B4B4;
			padding: 1px;		
		}
		.driver{
			top: 59px;
			left: 17px;
		}

		.passenger-1,.passenger-5,.passenger-9,.passenger-13,.passenger-17,.passenger-21,.passenger-23,.passenger-25,.passenger-29,.passenger-33,.passenger-37,.passenger-41,.passenger-45,.passenger-49{
			left: 0px;
		}
		.passenger-2,.passenger-6,.passenger-10,.passenger-14,.passenger-18,.passenger-22,.passenger-24,.passenger-26,.passenger-30,.passenger-34,.passenger-38,.passenger-42,.passenger-46,.passenger-50{
			left: 38px;
		}
		.passenger-3,.passenger-7,.passenger-11,.passenger-15,.passenger-19,.passenger-27,.passenger-31,.passenger-35,.passenger-39,.passenger-43,.passenger-47,.passenger-51{
			left: 108px;
		}
		.passenger-4,.passenger-8,.passenger-12,.passenger-16,.passenger-20,.passenger-28,.passenger-32,.passenger-36,.passenger-40,.passenger-44,.passenger-48,.passenger-52{
			left: 146px;
		}
		.passenger-1,.passenger-2,.passenger-3,.passenger-4 {
			top: 106px;
		}
		.passenger-5,.passenger-6,.passenger-7,.passenger-8 {
			top: 161px;
		}
		.passenger-9,.passenger-10,.passenger-11,.passenger-12 {
			top: 208px;
		}
		.passenger-13,.passenger-14,.passenger-15,.passenger-16 {
			top: 261px;
		}
		.passenger-17,.passenger-18,.passenger-19,.passenger-20 {
			top: 313px;
		}
		.passenger-21,.passenger-22 {
			top: 361px;
		}
		.passenger-23,.passenger-24{
			top: 415px;
		}
		.passenger-25,.passenger-26,.passenger-27,.passenger-28 {
			top: 463px;
		}
		.passenger-29,.passenger-30,.passenger-31,.passenger-32 {
			top: 516px;
		}
		.passenger-33,.passenger-34,.passenger-35,.passenger-36 {
			top: 570px;
		}
		.passenger-37,.passenger-38,.passenger-39,.passenger-40 {
			top: 616px;
		}
		.passenger-41,.passenger-42,.passenger-43,.passenger-44 {
			top: 667px;
		}
		.passenger-45,.passenger-46,.passenger-47,.passenger-48 {
			top: 715px;
		}
		.passenger-49,.passenger-50,.passenger-51,.passenger-52 {
			top: 755px;
		}
		.passenger-53,.passenger-54,.passenger-55,.passenger-56 {
			top: 805px;
		}
		.passenger-57,.passenger-58,.passenger-59,.passenger-60 {
			top: 855px;
		}
	}	
}