html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
body{
    padding-top: 39px;
    background: #eee;
}
a{
  text-decoration: none !important;
}
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -58px;
  padding: 0 0 60px;
}


.container {
  background: #f9f9f9;
  border-radius: 6px;
  box-shadow: 0 0 3px #999999;    
  width: auto;
  padding: 0 15px;
  max-width: 1170px;
}

img.logo{
  background: #ADB9CC;
  border-radius: 3px;
}

@media (min-width: 750px) {
    #siteHeader{
        background: url("https://s3-eu-west-1.amazonaws.com/hamsafaryab.production/static_files/images/headerBG.gif") 10px bottom no-repeat;
        overflow: hidden;
        height: 80px;
        border-bottom: 2px solid #91a022;
        margin-bottom: 15px;
    }
}
 
#siteLogo{
	margin: 0px 15px 15px;
  width: 256px;
  height: 55px;
  background-repeat: no-repeat;

}

.invisible{
    position: absolute;
    top: -1000px;
}

#siteLogo #logo, #siteLogo #slogan{
  text-indent: -7272px ;
    width: 256px;
  height: 55px;
}

#siteContent{
    margin-top: 16px;
    padding: 0 15px;
}

.sidebar{
	padding-right: 0;
}

.right{
  right: 4px;
}

.left{
  left: 4px;
}

.right0{
  right: 0px;
}

.left0{
  left: 0px;
}

.content{
	padding-left: 0;
	padding-right: 0;
}

.upload_image_btn{
  background-image: url("https://s3-eu-west-1.amazonaws.com/hamsafaryab.production/static_files/images/upload.png");
  height: 30px;
  width: 34px;
  text-indent: 40px;
  z-index: 20;
  background-repeat: no-repeat;
}

.panel-heading{
  overflow: hidden;
}

input[type = password],
input[type = email]  {
  /*text-align: right;*/
  direction: ltr;
}
.stars{
  background: url('https://s3-eu-west-1.amazonaws.com/hamsafaryab.production/static_files/images/sprite_rating_stars.png');
} 


.error{
    color: #911;
}

.clear{
    clear: both;
}
/*make select2 highlight for states*/
.select2-results li.select2-result-with-children > .select2-result-label {
    background-color: #bbb;
}

select.datepicker {
    background: #fdfcdf;
    border: 1px solid #B6B6B6;
    border-radius: 5px;
    padding: 7px 2px;
}

.pagination{
  margin: auto;
  span, em, a{
    padding: 6px 11px;
    border: 1px solid #E2E2E2;
    border-radius: 2px;
    &:hover {
      background-color: #F3F3F3;
    }    
  }
  .current{
    background-color: #F5F5F5;
  }

  .previous_page, .next_page{
    
  }
}