#dashboard{
	.post_trip_history{
		position: relative;
		.upload_image_btn {
			text-indent: -11171px;
			position: absolute;
			left: 5px;
			top: 5px;
			opacity: .7;
		}
	} 
	.post_panel{
		clear: both;
	}	
}	
