
$green: #b5c023;
#home{
	#search_form{
		background: $green;
		border: 2px solid #C3D329;
		border-radius: 6px;
		.panel{
			// background: $green;
			border: 1px solid $green;
			.panel-heading{
				font-weight: bold;
				background: $green;
				color: #fff;
				font-weight: 800;
				background: $green;
			}
		}		
	}
}
