
$green: #b5c023;
#home{		
	#insert_trip{
		position: relative;	
		.title h4{
			padding-left: 75px;
			padding-bottom: 7px;
		}	
		.passenger_man{
			position: absolute;
			left: -12px;
			top: -14px;
			z-index: 10;
			width: 114px;
		}
	}
	#search_form{
		position: relative;
		.passenger{
			position: absolute;
			top: -14px;
			right: -12px;
			z-index: 10;
			width: 58px;
		}
		// background: $green;
		// border: 2px solid #C3D329;
		// border-radius: 6px;
		.panel{
			// background: $green;
			border: 1px solid $green;
			.panel-heading{
				font-weight: bold;
				background: $green;
				color: #fff;
				font-weight: 800;
				background: $green;
			}
		}		
	}
	.frame{
		background: none repeat scroll 0 0 #B5C023;
    border: 2px solid #C3D329;
    border-radius: 6px;
    padding: 0px 15px 15px 15px;
    .title{
			color: #FFFFFF;
			padding-right: 15px;
			margin-bottom: 8px;
    }
    .inner{
    	background: none repeat scroll 0 0 #FFFFFF;
    	border-radius: 4px;
    	overflow: hidden;
    	padding: 15px;
    }
	}

	#sample_trips{
		.subtrip-row{
			border-bottom: 2px solid #E2E2E2;
			padding-top: 5px;
			&:hover {
				background: rgba(181, 192, 35, 0.22);			
			}
		}
		.time{
			margin-top: 5px;
		}
	}
}
