.navbar-nav > li > a {
	padding-top:6px !important; 
	padding-bottom:1px !important;
}
.navbar {min-height:32px !important}


.top_navbar {
	.container{
		min-height: 38px;
	}
	#my_pages_menu{
		#title{
			padding: 9px;			
			background-color: transparent;
		}
	}
	.navbar-brand{
    padding-bottom: 0;
    padding-top: 0;   
  }
  .link a{
		padding-bottom: 0;
		padding-right: 5px;
		margin-top: -5px;
		background: none;
	}
	.main_icons{
		height: 35px;
		width: 35px;
		// margin-top: 7px;
		&:hover {
			opacity: .6;
		}
	}
	.home{
		background: url('https://s3-eu-west-1.amazonaws.com/hamsafaryab.production/static_files/images/icons1.png') .5px 6px;;
		padding-left: 0;
	}
	.messages{
		background: url('https://s3-eu-west-1.amazonaws.com/hamsafaryab.production/static_files/images/icons1.png') .5px -421px;
	}
	.notification{
		padding-bottom: 1px;
		background-color: #dc0d17;
		border: 1px solid #eee;
		font-size: .8em;
		min-width: 16px;
		height: 20px;
		position: absolute;
		display: inline-block;
		background-image: -webkit-linear-gradient(top, #fa3c45 0%, #dc0d17 100%);
		padding: 0px 5px 11px 5px;
		top: 0px;
		border-radius: 10px;
		color: #fff;
		font-weight: bold;
		left: 20px;
	}
 
	.profile{
		background: url('https://s3-eu-west-1.amazonaws.com/hamsafaryab.production/static_files/images/icons1.png') -2.5px -488px;
	}

	.trips{
		background: url('https://s3-eu-west-1.amazonaws.com/hamsafaryab.production/static_files/images/icons1.png') -0.5px -453px;
	}

	.network{
		background: url('https://s3-eu-west-1.amazonaws.com/hamsafaryab.production/static_files/images/icons1.png') -0.5px -525px;
	}
	
	.text-nav{
		padding-top: 10px !important;
	}
	.actions{
		width: 25px;
		height: 18px;
		text-indent: 43px;
		border: 1px;
	}
	.search_subtrip{
		background-image: url("https://s3-eu-west-1.amazonaws.com/hamsafaryab.production/static_files/images/icons1.png") ;
		 background-position: 0px -399px;
		 background-repeat: no-repeat;
	}
	.register_trip{
		background-image: url("https://s3-eu-west-1.amazonaws.com/hamsafaryab.production/static_files/images/icons1.png");
 	  background-position: 0px -368px;
  	background-repeat: no-repeat;
	}
	#profile_menu, #my_trips_menu{
		#title{
			background-color: transparent;					
			&:focus {
				background-color: #eee;	
			}
		}
	}
	#my_trips_menu{
		.notification{
			left: 14px;
			z-index: 100;
			padding-top: 2px;
		}
		#my_trips_dropdown{
			// padding-bottom: 0;
			.divider{
				margin: 0;
			}
			.note-row{
				margin: 1px;
				padding: 3px 3px;
				display: block;
				width: 225px;
				background: #e4e4e4;
				border: 1px solid #CECECE;
				border-radius: 2px;
				a{
					position: relative;
					display: inherit;
					color: #444;
					font-size: .8em;
					.gravatar{
						border-radius: 2px;
						width: 15%;
						height: auto;
						float: right;
					}
					.note{
						display: inline-block;
						padding: 0px 5px;
						width: 84% !important;
						.name{
							color: #000086;
						}
						.accepted{
							color: #048504;
						}
						.rejected{
							color: #DD0000;
						}
						.fromto{
							margin-bottom: 0;
							.from{
								color: #00AA19;
								font-size: 1.2em;
							}
							.to{
								color: #D10000;
								font-size: 1.2em;
							}
						}
					}
				}
			}
		}
	}
}

.navbar{
  background-color: transparent;
  border-color: transparent;
}

#popup_signin{
	/* --- popup sign in form */
	#popup_signin_button{
	  background-color: transparent;
	}

	ul#signin-dropdown{
	  right: -16px;
	  padding: 10px 26px 0 !important;
	  width: 270px;
	  border-radius: 0 0 6px 6px;
	}
	#signin-dropdown .form-group{
	  margin-bottom: 6px !important;
	}

	.facebook_link{
		margin: 20px 0;
		width: 113%;
		font-weight: bold;
		color: #fff;
		padding: 7px 13px 7px 0;
		background: #486299 url("https://s3-eu-west-1.amazonaws.com/hamsafaryab.production/static_files/images/icons.png") no-repeat;
		background-position-y: -80px;
		background-position-x: 1px;
		background-position: 1px -80px;
		margin-right: -13px;
		margin-left: -14px;
		border-radius: 8px;
		text-align: right;
	}
}