.top_navbar {
	.navbar-brand{
    padding-bottom: 0;
    padding-top: 0;   
  }
  .link a{
		padding-bottom: 0;
		padding-right: 5px;
		margin-top: -5px;
		background: none;
	}
	.name{
		padding-left: 0;
	}
	.home{
		background: url('https://s3-eu-west-1.amazonaws.com/hamsafaryab.production/static_files/images/icons.png') 34.5px 1px;;
		height: 35px;
		width: 35px;
		margin-top: 7px;
		opacity: .6;
		&:hover {
			background-position-x: 2px;
		}
	}
	#profile_menu, #my_trips_menu{
		#title{
			background-color: transparent;					
		&:focus {
			background-color: #eee;	
		}
		}
		
	}
	.special_events{
		color: red !important;
		font-weight: bold ;
	}	
}

.navbar{
  background-color: transparent;
  border-color: transparent;
}

#popup_signin{
	/* --- popup sign in form */
	#popup_signin_button{
	  background-color: #fff !important;
	}

	ul#signin-dropdown{
	  right: -16px;
	  padding: 10px 26px 0 !important;
	  width: 270px;
	  border-radius: 0 0 6px 6px;
	}
	#signin-dropdown .form-group{
	  margin-bottom: 6px !important;
	}

	.facebook_link{
		margin: 20px 0;
		width: 113%;
		font-weight: bold;
		color: #fff;
		padding: 7px 13px 7px 0;
		background: #486299 url("https://s3-eu-west-1.amazonaws.com/hamsafaryab.production/static_files/images/icons.png") no-repeat;
		background-position-y: -80px;
		background-position-x: 1px;
		background-position: 1px -80px;
		margin-right: -13px;
		margin-left: -14px;
		border-radius: 8px;
		text-align: right;
	}
}