
#pages{
	padding: 0 20px;
	h1{
		font-weight: bold;
		text-align: center;
		color: #5F3D11;
	}
	#form-explanation{
		p{
			color: #25462F;
			line-height: 2em;
		}		

	}
	#content{
		h2{
			color: #4C9768;
			font-weight: bold;	
		}
		p{
			padding: 10px 20px;
			color: #25462F;
			line-height: 2em;
		}		
		li{
			padding: 0px 0px;
			color: #25462F;
		}
		a{
			color: #006AC5;
			font-weight: bold;
		}
	}
}