$btn-primary-color: #fbd921;
$btn-primary-darker:  darken($btn-primary-color, 8%);

.top_search_trip_form{
	background: #b7c821;

	.btn-primary.gold_btn { 
		background-color: $btn-primary-color; 
		border: #313131;
		color: #636363;
		font-weight: bold;
		font-size: 1.2em;
	} //button
	.btn-primary.gold_btn:hover { background-color: $btn-primary-darker; } //hover
}

#top-search-form{
	input{
		width: 100%;
		font-weight: bold;
	}
	select{
		font-weight: bold;
	}
	.datepicker-input{
		margin-top: 8px;
		input{
			padding-right: 40px;
			width: 140px;
		}
		.ui-datepicker-trigger{
			border: medium none;
			position: absolute;
			right: 16px;
			top: 6px;
		}
	}

	.origin_input .glyph-map{
		background: url('https://s3-eu-west-1.amazonaws.com/hamsafaryab.production/static_files/images/icons.png') no-repeat;
		background-position: 0px -189px;

	}
	.destination_input .glyph-map{
		background: url('https://s3-eu-west-1.amazonaws.com/hamsafaryab.production/static_files/images/icons.png') no-repeat;
		background-position: 0px -160px;
	}
  .origin_input, .destination_input{
    .glyph-map{
	  	width: 13px;
	  	height: 30px;
	  	margin: 0 7px;
	  	position: absolute;
	  }
 		input{
	  	padding-right: 25px;
	  	padding-left: 25px;
  	}
	  .form-group{
			width: 100%;
		}
		.cycle{
			position: absolute;
			top: 0;
			z-index: 1;
			width: 77px;
			height: 34px;
			overflow: hidden;
			// background: url(new_arrow.png) no-repeat right #ddd;
			border: 1px solid #ccc;		
			font-size: .9em;	
			.caret{
				position: absolute;
				top: 16px;
				z-index: -100;
			}
			select{
				background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
				border: medium none;
				padding-top: 6px;
				padding: inherit;

				background: transparent;
				width: 70px;
				line-height: 1;
				border: 0;
				border-radius: 10px;
				height: 34px;
				-webkit-appearance: none;
			}
			select:focus{
			    outline: 0;
			}
			span{
				margin-top: 12px;
				position: absolute;
				left: 5px;
				z-index: -18;					
			}
		}
		.autocomplete_mode{
			border: 0;
			span{
				top: -1px;
			}
		}
	}
}

// .autocomplete_mode{
//   // right: 234px;
//   top: 3px; 		
// }


#search_subtrips{
	.no-trip{
		strong{
			color: #F00;
			font-size: 1.2em;
		}
	}
	.pagination{
		margin: 0 auto;
		text-align: center;
		width: 758px;
	}
	.subtrips-date{
		margin-top: 0px;
		margin-bottom: 0px;
		border: 2px solid #D5D5D5;
		padding: 17px 17px 17px 10px;
		padding-bottom: 17px;
		font-weight: bold;
		background: #E9E9E9;
	}
	.panel-body {
		padding: 0px;
	}
	.search_subtrips_row{
		position: relative;
		margin-bottom: 1px;
		margin-right: 0px;
		margin-left:  0px;
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #e2e2e2;	
		background: #f9f9f9;
		&:hover{
			background: #DDE7EB;
		}
		.ladies_only{
			position: absolute;
			top: 0px;
		}		
		.description{
			border-right: 1px solid #eee;
			border-left: 1px solid #eee;
			// min-height: 90px;
			padding-top: 4px;
			.time{
				font-weight: bold;
				margin-top: 0;
				font-size: 1.3em;
			}
			.fromto{
				.table{
					margin-bottom: 0px;
				}
				color: #474747;
				font-size: 1.3em;
				font-weight: bold;				
				margin-top: 0px;
				.to{
					text-align: center;
				}
				td{
					border: 0;
					padding:  0 5px;
					color: #640800;
				}
			}
			.car{
				font-size: 0.9em;
				padding-bottom: 8px;
				// position: absolute;
				// bottom: -8px;
				margin: 0;
				color: #9B9B9B;
				font-family: fantasy;
			}
		}
		.user-info{
			.name{
				font-size: 1em;
				margin-top: 6px;
				position: absolute;
				top: 0px;
				right: 92px;			
			}
			.gravatar{
				img{
					float: right;
				}
			}
			.old{
				position: absolute;
				top: 6px;
				right: 91px;
			}
			.ratingSmall{
				position: absolute;
				right: 15px;
				bottom: -25px;
				width: 68px;
				height: 20px;
				display: inline-block;
				background: url('sd');
				background-position: 1000px 0;
				.stars{
					// background: url('https://s3-eu-west-1.amazonaws.com/hamsafaryab.production/static_files/images/sprite_rating_stars.png');
					width: 70px;
					height: 26px;
					display: inline-block;
					background-position: 1px 0;
				}	
				.reviews{
					position: absolute;
					top: 4px;
					right: 75px;
					width: 108px;
					color: #6D6D6D;
				}
			}
		}
		.offer{
			.price{
				color: #ff9802;
				strong{
					display: block;
					font-size: 1.8em;
					line-height: 30px;	
				}
			}
			.avalability{
				color: #5F5F5F;
				strong{
					font-size: 1.4em;
				}
				span{
					font-size: 1em;
				}
			}
		}
	}
}