.shout{
	position: relative;
	ul{
		position: absolute;
	}
	&:hover{
		background: #f7f7f7;
	}
	.remove{
		display: none;
	}
	.content{
		padding: 0 50px 0 0;
		overflow: hidden;
	} 
	.dropdown-menu{
		right: auto;
		left: 0;
		min-width: 70px;
	}
	#action_menu{
		#title{
			// background-color: transparent;			
		}
	}
}

.shout.hover .remove{
	display: inline;
}

textarea.post_field{
  resize: vertical;
  &:active {
    height: auto;   
  }
  &:focus {
    min-height: 150px;
  }	
}
