.shout{
	.content{
		padding: 0 50px 0 0;
		overflow: hidden;
	} 
}

.shout .remove{
	display: none;
}

.shout.hover .remove{
	display: inline;
}

.shout.hover{
	background: #f7f7f7;
}

textarea.post_field{
  resize: vertical;
  &:active {
    height: auto;   
  }
  &:focus {
    min-height: 150px;
  }	
}
