// Place all the styles related to the Subtrips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.orogin-destination h3{
	margin-top: 0;
	display: inline;
}

.subtrip_single{
	.subtrip_overview{
		h3{
			font-weight: bold;
		}
	}
	.driver_overview{
		.panel-heading{
			padding: 0;
			h2{
				padding: 10px 21px 0px 21px;
				margin-bottom: 4px;
			}
			.view_profile{
				margin: 0px 53px;
			}
		}
		.stars{
			display: inline-block;
			height: 26px;
			width: 142px;
			float: left;
		}
	}
	.seats_status{
		th{
			padding: 5px;
		}
	}

	.trip_path{
		.panel-body{
			padding: 2px;
		}
	}


}


