// Place all the styles related to the Subtrips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.orogin-destination h3{
	margin-top: 0;
	display: inline;
}

.subtrip_single{
	h4, h2{
		margin: 0;
	}
	.subtrip_overview{
		h3{
			font-weight: bold;
		}
	}
	.branch_overview,.driver_overview{
		.stars{
			display: inline-block;
			height: 26px;
			width: 142px;
			float: left;
		}
	}
	.branch_overview{
		.panel-heading{
			text-align: center;
			padding: 0;
			height: 100px;
			a{
				display: inline-block;
			}
			&:hover{
				background: #E4E4E4;
			}			
		}
	}
	.driver_overview{
		.panel-heading{
			padding: 0;
			h2{
				padding: 10px 21px 0px 21px;
				margin-bottom: 4px;
			}
			.view_profile{
				margin: 0px 53px;
			}
			&:hover{
				background: #E4E4E4;
			}			

		}

	}
	.seats_status{
		.blueprints{
			padding: 0;
		}
		th{
			padding: 5px;
		}
	}

	.trip_path{
		.panel-body{
			padding: 2px;
		}
	}


}


