// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add_fields{
	display: none;
	margin-top: -40px;
	position: absolute;
	right: 42%;
}

.trip{
	.subtrips-header{
		border-bottom: 1px solid #DDDDDD;
		margin-bottom: 9px;
		padding-bottom: 3px;
	}
}

#trips-register-head{
	padding: 0;
	table{
		margin: 0;
		td {
			// width: 25%;
			text-align: center;
		}
		.current-stage{
			background: #D6D6D6;
			color: #000;
		}
	}
}


#new_trip_form{
	.field_with_errors {
		display: inline;
		select{
			border: 1px solid #a94442;
		}
	}
	.row{
		margin-bottom: 5px;
	}
	.trip-route{
		overflow: hidden;
		margin-bottom: 5px;
		background: none repeat scroll 0 0 #EFEFEF;
    border-radius: 5px;
    padding: 15px 25px;
    .select-via-city{
    	width: 200px;
    	display: inline;
    }
    fieldset{
    	border: dotted 1px #AEAEB6;
			padding: 7px 19px;
			margin-bottom: 3px;  
			&:last-child{
				margin-top: 31px;
			}
			.datetime {
				height: 31px;
			}
			.remove_fields_div{
				float: left;
			} 	
    }
	}
}

#select_period{
	.row{
		width: 60%;
	}
	#wdays{
		display: none;
		#days{
			width: 121px;
			border: 1px solid #D6D6D6;
			margin: 20px 14px;
			margin-top: -152px;
		}
		#weeks{
			width: 60px;
			border: 1px solid #D6D6D6;
		}
		#week_form{
			width: 300px;
			margin: 37px -13px 37px 36px;
		}
	}
}

#trip_show, #trip_edit{
	.route_table, .subtrips_edit_field{
		background: #efefef;
		border-radius: 5px;		
	}
}

.table-hover > tbody > tr.current_trip:hover > td{
	background: #fff !important;
}

#trip_edit{
	#trip{
		background: #FFF;
		border: 2px solid #D3D3D3;
	}
	#trips{
		background: #F5FFBE;
		border: 2px solid #C9C9C9;
		.current_trip{
			font-weight: bold;
			color: #207060;
			background: #FFF;
			td{
				&:hover{
					background: #fff !important;
				}
			}
		}
	}
}


#trips_index{
	.dropdown-menu{
		right: auto;
		left: 0;
		min-width: 110px;
	}
}

.trip_timeline .table-hover>tbody>tr:hover>td, 
.trip_timeline .table-hover>tbody>tr:hover>th{
	background-color: #e8f28f;
}