// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_trip_form{
	.states_cities div{
		float: right;
	}
	.field_with_errors {
		display: inline;
		select{
			border: 1px solid #a94442;
		}
	}
	.row{
		margin-bottom: 5px;
	}
	.trip-route{
		margin-bottom: 5px;
		background: none repeat scroll 0 0 #EFEFEF;
    border-radius: 5px;
    padding: 15px 25px;
    .select-via-city{
    	width: 200px;
    	display: inline;
    }
    fieldset{
    	border: dotted 1px #AEAEB6;
			padding: 7px 19px;
			margin-bottom: 3px;  
			.datetime {
				height: 31px;
			}
			.remove_fields_div{
				float: left;
			} 	
    }
	}
}

#trip_show, #trip_edit{
	.panel-heading{
		padding: 2px;
		h3{
			margin-top: 30px;
			font-size: 1.5em;			
		}
	}
	.route_table, .subtrips_edit_field{
		background: #efefef;
		border-radius: 5px;		
	}
}
