<div id="siteHeader" class="hidden-xs">
	<div id="siteLogo" style="background-image:url('<%= "#{IMAGES_PATH}logo-#{lang_direction}.gif" %>');">
		<a href="<%= root_path %>"  > 
			<h1 id="logo"><%= t('hamsafaryab') %></h1>
			<h2 id="slogan"><%= t('slogan') %></h2>
		</a>
	</div>

</div>