<div id="second_nav">
	<nav class="navbar navbar-default " role="navigation">
		<% if current_user %>
		  <p class="navbar-text navbar-right">
		  	Signed in as 
		  	<%= link_to current_user.name, current_user, class: "navbar-link" %>
		  </p>
		<% end %>


		<ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Insert trip", new_trip_path %></li>
      <li><%= link_to "Find a trip <span class=\"glyphicon glyphicon-road\"></span>".html_safe, search_subtrips_path %></li>
    </ul>
	</nav>
</div>

