<div class="userAvatar hidden-md hidden-lg">
	<div class="gravatar">
		<%= render partial: 'profiles/show/gravatar', locals: {user: user} %>
	</div>
	<h2 class="nameOfUser"><small><%= link_to  user.name, profile_url(user.slug) %></small></h2>	
	<span class="stars" style="background-position:1431px 0px;"></span>
	<p class="score">(4.5/5)</p> 
	<%= resent_activity(user, "activity", "Last online: ") %>

</div>
